<!DOCTYPE html>
<html>
  <head>
    <title>LazyERanch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1> Serenity Cabin at Lazy E Ranch </h1>
    </div>
    <div id="navbar">
      <%= render 'partials/navigation_bar' %>
    </div>

    <div id = "content" >
      <%= yield %>
    </div>
    <div id="footer">
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
